# Auto detect text files and perform LF normalization
* text=auto

# Detect torch as Python
*.pth linguist-language=Python linguist-detectable=true filter=lfs diff=lfs merge=lfs -text

# Detect LaTeX
*.tex linguist-language=TeX linguist-detectable=true

# Include files under docs/ in language stats
docs/* linguist-documentation=false
