.venv/
__pycache__
.git/
secrets.json
pokemon-showdown/
warnings.log
output.log
encodings/

# Ignore the basic parquet
data/experiment.parquet
data/missing.csv

# Folder for graphs
graphs/

# Images in general
*.png

# The convergence analysis data
convergenceResults.json