.venv/
__pycache__
.git/
secrets.json
pokemon-showdown/
warnings.log
output.log
encodings/
.~lock.*.csv#

# Ignore the basic parquet
data/experiment.parquet
data/missing.csv
data/surrogateData.csv

# Folder for graphs
graphs/

# Images in general
*.png

# The convergence analysis data
convergenceResults.json

# Ignore the compiled LaTeX files
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*Notes.bib
docs/*.out
docs/*.pdf
docs/*.synctex.gz
docs/*.toc